In [1]:
import pandas as pd
from utils import join_string_columns

In [2]:
# reload modules before executing user code
%load_ext autoreload
%autoreload 2

In [3]:
join_string_columns?

Signature: join_string_columns(df, column, join_cols, delete=False, delimiter='|')
Docstring:
Join multiple string columns.

This function joins multiple text columns using the specified delimiter.
Empty strings '' and None will be ignored.

Parameters
----------
df : DataFrame
    First number to add.
column : str
    Name of column with the joined string.
join_cols : list
    List of column names.
delete : bool, default False
    If True, delete join_cols, but exclude result column if within the join_cols list.
delimiter : str, default '|'
    Delimiter used to join columns

Returns
-------
DataFrame
    Dataframe with column of the concatenated string.


Examples
--------
>>> df = pd.DataFrame([{'A': 'a', 'B': 'b', 'C': 'c'},
>>>                    {'A': 'd', 'B': '', 'C': 'f'}])
>>> df2 = df1.copy()
>>> df3 = df1.copy()
>>> df1
   A  B  C
0  a  b  c
1  d     f

>>> df1 = join_string_columns(df1, 'AB', ['A', 'B', 'C'])
>>> df1
   A  B  C     AB
0  a  b  c  a|b|c
1  d     f    d|f

Delete join_cols after operation.
>>> df2 = join_string_columns(df2, 'AB', ['A', 'B', 'C'], delete=True, delimiter=',')
>>> df2
      AB
0  a,b,c
1    d,f

Reuse an existing column, but delete all other join_cols.
>>> df3 = join_string_columns(df3, 'A', ['A', 'B', 'C'], delete=True, delimiter=',')
>>> df3
       A
0  a,b,c
1    d,f
File:      ~/GitRepositories/kg-bio/notebooks/utils.py
Type:      function

In [4]:
df1 = pd.DataFrame([{'A': 'a', 'B': 'b', 'C': 'c'},
                   {'A': 'd', 'B': '', 'C': 'f'}])
df2 = df1.copy()
df3 = df1.copy()

In [5]:
df1 = join_string_columns(df1, 'AB', ['A', 'B', 'C'])
df1

   A  B  C     AB
0  a  b  c  a|b|c
1  d     f    d|f

In [6]:
df2 = join_string_columns(df2, 'AB', ['A', 'B', 'C'], delete=True, delimiter=',')
df2

      AB
0  a,b,c
1    d,f

In [7]:
df3 = join_string_columns(df3, 'A', ['A', 'B', 'C'], delete=True, delimiter=',')
df3

       A
0  a,b,c
1    d,f